<link rel="stylesheet" href="/css/phuong/bando.css">
<div id="content" class="bando-container">
    
</div>

<!-- Mapbox JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<script src="/js/map.js" ad-location={{#toJSON AdLocation}}{{/toJSON}}></script>