
{{!-- MapBox CDN --}}
<script src='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet' />

{{!-- Link CSS --}}
<link rel="stylesheet" href="/css/phuong/bando.css">

<div id="content" class="bando-container">

</div>


<script src="/js/map.js" ad-location={{toJSON AdLocation}}></script>
