<style>
    .phuong-main {
        width: 100vw;
        height: 100vh;
        display: flex;
    }

    .phuong-navbar {
        width: var(--navbar-width-1);
    }

    .phuong-content {
        width: calc(100vw - var(--navbar-width-1));
        height: 100vh;

        overflow-y: scroll;
    }

</style>

<div class="phuong-main" id="main">

    {{!-- NAVIGATION BAR --}}
    <div class="phuong-navbar" id="nav">
        {{>phuong/navbar current=current account=account}}
    </div>


    {{!-- CONTENT SECTION --}}
    <div class="phuong-content" id="content">
        {{> (body)}}
    </div>

</div>
