<div class="container-fluid d-flex flex-column" id="main">
    <div class="row flex-grow-1 justify-content-around">
        <div class="col-md-2 ps-0 pe-1">
            <div class="col-md-12 d-flex flex-column vh-100 p-0" id="nav">
                {{>phuong/navbar current=current}}
            </div>
        </div>
        <div class="col-md-10 ps-1 pe-0">
            <div class="col-md-12 d-flex vh-100" id="content">
                {{> (body)}}
            </div>
        </div>
    </div>
</div>