<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col-2">
            {{>so/navbar current=current}}
        </div>
        <div class="col">
            {{> (body)}}
        </div>
    </div>
</div>