<style>
    .so-main {
        width: 100vw;
        height: 100vh;
        display: flex;
    }

    .so-navbar {
        width: var(--navbar-width-1);
    }

    .so-content {
        width: calc(100vw - var(--navbar-width-1));
        height: 100vh;

        overflow-y: scroll;
    }
</style>

<div class="so-main" id="main">

    {{!-- NAVIGATION BAR --}}
    <div class="so-navbar" id="nav">
        {{>so/navbar current=current name=account.name}}
    </div>


    {{!-- CONTENT SECTION --}}
    <div class="so-content" id="content">
        {{> (body)}}
    </div>

</div>

<!-- Chart -->
