<style>
    .so-main {
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    .so-navbar {
        width: var(--navbar-width-1);
    }
    .so-content {
        width: calc(100vw - var(--navbar-width-1));
        background-color: salmon;
    }
</style>

<div class="so-main" id="main">

    {{!-- NAVIGATION BAR --}}
    <div class="so-navbar" id="nav">
        {{>so/navbar current=current}}
    </div>


    {{!-- CONTENT SECTION --}}
    <div class="so-content" id="content">
        {{!-- {{> (body)}} --}}
        123123 213 132 1 Content
    </div>

</div>