<div id="side-bar" class="d-flex flex-column justify-content-between">
    <ul>
        <li class="sidebar-active"><div><img src="/assets/icon/bando_icon.svg"><br>Bản đồ</div></li>
        <li><img src="/assets/icon/quanly_ic_normal.svg"><br>Quản lý</li>
        <li><img src="/assets/icon/kiemduyet_ic_normal.svg"><br>Kiểm duyệt</li>
    </ul>
</div>