#content {
    padding: 2em 1em;
}

#content #contentOverlay {
    position: absolute;
}

.tb #category {
    padding: 1em 2em;
}

.tb #category li {
    list-style-type: none;
    display: inline;
    margin: 0 5em 0 0;
    font-weight: light;
    color: #999;
}

.tb #category li.tb-active {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.75vh;
    color: #2B77D0;
}

.tb table {
    margin-bottom: 0;
}

.tb table tr.personnel-info-header th {
    text-align: center;
    color: #999;
    font-weight: normal;
    padding: 0 0 1em 0;
}

.tb table tr.personnel-info {
    text-align: center;
    word-wrap: break-word;
}

.tb table tr.personnel-info td {
    vertical-align: middle;
    padding: 0.75em 0em;
    border-top-width: 2px !important;
    border-bottom-width: 0 !important;
    border-color: #999;

}


/* .tb table {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
}

.tb table th {
    text-align: center;
    color: #999;
    font-weight: lighter;
    padding: 1em 0;
}

.tb table td {
    text-align: center;
    word-wrap: break-word;
    padding: 1em 3em;
    border: solid #999;
    border-width: 2px 0;
} */

@media screen and (max-width: 900px) {
    #content {
        padding: 4em 2em;
    }
    .tb #category li.tb-active {
        text-underline-offset: 1vh;
    }
}

@media screen and (max-width: 1200px) {
    .tb #category li.tb-active {
        text-underline-offset: 1.5vh;
    }
}
#add-button{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
#add-button button{
    background-color: #0D6EFD;
    box-shadow: 3px 5px 5px grey;
    border: 1px solid #0D6EFD;
    border-radius: 100px;
    padding: 0.75em 1em;
}
#addMenu {
    align-items: center;
    justify-content: center;
    margin: 0 20vw 10em 20vw;
    height: 50vh;
    padding: 5vh 0;
    border: 3px solid #0065FF;
    border-radius: 15px;
    font-size: large;
}

#addMenu form h5 {
    color: #0065FF;
    font-weight: bolder;
    margin-bottom: 2vh;
}

#addMenu input[type="checkbox"] {
    opacity: 0;
    width: 1px; height: 1px;
}

#addMenu input[type="checkbox"] + label {
    padding: 0.5em;
    margin: 0.5vh 0;
    border-radius: 20px;
}

#addMenu input[type="checkbox"]:checked + label {
    background-color: #D9D9D9;
}

#addMenu input#filterSubmit {
    display: none;
}

#addMenu #addnav {
    margin-top: 4vh;
}

#addMenu #addnav button {
    color: grey;
    background-color: #F2F5FF;
    box-shadow: none;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 0.25em 0.75em;
    margin: 0 1vw;
}

#addMenu #addnav button:hover {
    color: white;
    background-color: #FF0000;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.25em 0.75em;
}
#addMenu #addnav #addSubmit:hover {
    color: white;
    background-color: blue;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.25em 0.75em;
}
#addMenu #addnav label {
    display:inline-table;
    text-align: center;
    color: #0D6EFD;
    background: none;
    box-shadow: none;
    border: 1px solid #0D6EFD;
    border-radius: 15px;
    padding: 0.25em 0.75em;
}

#addMenu #addnav label:hover {
    color: white;
    background-color: #0D6EFD;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.25em 0.75em;
}
#addMenu #addForm {
    text-align: center;
}
.form-control::placeholder {
    font-style: italic;
    text-align: center;
}