body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(128deg, #22E1FF 0%, #1D8FE1 48%, var(--primary-color) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.OTPValidate-screen {
    width: 520px;
    height: fit-content;
    padding: 1.6rem 1.6rem 2.2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.OTPValidate-back {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OTPValidate-back i {
    font-size: 2.3rem;
}


.OTPValidate-illustration {
    width: 360px;
    margin-top: -2.4rem;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.OTPValidate-illustration img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}



.OTPValidate-content {
    padding: 0 0.8rem;
}

.OTPValidate-content h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    color: var(--title-color);
}

.OTPValidate-content h2 {
    font-size: 1.0rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-color);
}


.OTPValidate-form {
    padding: 0 0.8rem;
    width: 100%;
}
.OTPValidate-form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.OTPValidate-form input {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 15px;
    color: var(--text-color);

    flex: 1;
    margin-right: 20px;
}

#wrongOTP {
    margin-top: 0.5rem;
    color: var(--report-color);
    font-size: 0.9rem;
    text-align: center;
}

.validateOTP {
    margin-top: 1rem;
}