.tb #category {
    padding: 1em 2em;
}

.tb #category li {
    list-style-type: none;
    display: inline;
    margin: 0 5em 0 0;
    font-weight: light;
    color: #999;
}

.tb #category li.tb-active {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.75vh;
    color: #2B77D0;
}

.tb #category a {
    color: #999;
    text-decoration: none;
}

.tb table {
    margin-bottom: 0;
}

.tb table tr.ad-general-header th {
    text-align: center;
    color: #999;
    font-weight: normal;
    padding: 0 0 1em 0;
}

.tb table tr.ad-general {
    text-align: center;
    word-wrap: break-word;
}

.tb table tr.ad-general td {
    vertical-align: middle;
    padding: 0.75em 0;
    border-top-width: 2px !important;
    border-bottom-width: 0 !important;
    border-color: #999;
}

@media screen and (max-width: 900px) {
    #content {
        padding: 4em 2em;
    }
    .tb #category li.tb-active {
        text-underline-offset: 1vh;
    }
}

@media screen and (max-width: 1200px) {
    .tb #category li.tb-active {
        text-underline-offset: 1.5vh;
    }
}

.tb .rep-status-0 {
    background-color: #F2F5FF;
    color: #6A6E83;
    border-radius: 10px;
}

.tb .rep-status-1 {
    background-color: #34A853;
    color: white;
    border-radius: 10px;
}