body{
    background: linear-gradient(to bottom, #0099ff 0%, #ccffff 100%);
    height: 100vh;
}
main{
    max-width: 40% !important; 
}
#AppName{
    color: #0D6EFD;
}
#backButton{
    font-size: 2em;
}
#LoiDangNhap{
    margin-left: 13%;
}

#textblock-1,#textblock-2{
    color: #04B400;
}
.form-control::placeholder {
    font-style: italic;
}

