

.custom-btn {
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-btn-fade {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}
.custom-btn-fade:hover {
    background-color: var(--primary-color);
    color: white;
}
.custom-btn svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
