body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(128deg, #22E1FF 0%, #1D8FE1 48%, var(--primary-color) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgorPassword-screen {
    width: fit-content;
    height: fit-content;
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.forgorPassword-back {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgorPassword-back i {
    font-size: 2.3rem;
}


.forgorPassword-illustration {
    width: 360px;
    margin-top: -2.4rem;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.forgorPassword-illustration img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}



.forgorPassword-content {
    padding: 0 1rem;
}

.forgorPassword-content h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--title-color);
}

.forgorPassword-content h2 {
    font-size: 1.0rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-color);
}


.forgorPassword-form {
    padding: 0 1rem;

}

.forgorPassword-form input {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 15px;
    color: var(--text-color);
    width: 100%;
    margin-bottom: 16px;
}