body{
    background-color:   #FFFFFF;
    height: 100vh;
}
#AppName {
    color: #0D6EFD;
    padding-top: 3rem;
    padding-bottom: 2rem;
}


#Email, #Password{
    background-color: #f1f1f1;
}
#forgetPassword{
    color: #0D6EFD;
}
small{
    color: #0D6EFD;
}
#LoiDangNhap{
    margin-left: 13%;
}
#otherLogin button{
    background-color: #FFFFFF;
    border: 0;
    padding: 5px;
    font-size: 2em;
}
.bi-google {
    color: #4285f4; /* Google logo color */
}
.bi-facebook {
    color: #1877f2; /* Facebook logo color */
}
.bi-twitter {
    color: #1da1f2; /* Twitter logo color */
}