#mapDisplay, #EditmapDisplay {
    display: none;
    /* position: absolute; */
    /* top: calc(100% + 10px); */
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 20px;
    margin-bottom: 12px;
}

#Newmap, #Editmap {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    
    border-radius: 20px;
}
