/* adDetailModal */

#adDetailModal {
    --bs-modal-width: 50vw;
}

#adDetailModal .modal-header {
    padding: 2vh 1.2vw 0.8vh 1.2vw;
}

#adDetailModalLabel {
    font-weight: 600;
}

#adDetailModalLabel br {
    display: block;
    margin: 0.1em 0;
}
#adDetailModalLabel i {
    color: #0065FF;
}

#adDetailModal .modal-body {
    padding: 0.8vh 1.2vw 4vh 1.2vw;
    font-size: 18px;
}

#adDetailModal .modal-body hr {
    margin: 0.5vh 0 2vh 0;
}

#adDetailModal .modal-body #adDetailName {
    font-weight: 700;
    margin-bottom: 2vh;
}

#adDetailModal .modal-body #adDetailCategoryRow {
    margin-top: 1vh;
}

#adDetailModal .modal-body h6#adDetailCategoryTitle {
    font-weight: bold;
    color: rgb(81, 80, 80);
    margin-bottom: 3px;
}

#adDetailModal .modal-body h6:not(#adDetailCategoryTitle) {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

#adDetailModal .modal-body h6#adDetailContractDateStart {
    color: #0065FF;
    font-weight: 500;
}

#adDetailModal .modal-body h6#adDetailContractDateEnd {
    color: #0065FF;
    font-weight: 500;
}


#adDetailModal .modal-body #adDetailThumbnails {
    margin-top: 1vh;
}

#adDetailModal .modal-body #adDetailThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#adDetailModal .modal-body #adDetailNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
}



/* changeReqDetailModal */

#changeReqDetailModal {
    --bs-modal-width: 60vw;
}

#changeReqDetailModal .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 12px !important;
}

#changeReqDetailModal .modal-content .modal-header {
    background-color: white; 
    border-radius: 12px 12px 0 0 !important;
    padding: 2vh 1.2vw 1.2vh 1.2vw;
    color: #0065FF;
}

#changeReqDetailModal .modal-content .modal-body {
    background-color: white; 
    border-radius: 0 0 12px 12px !important;
    padding: 1.2vh 3vw 1vh 3vw;
    font-size: 18px;
}

#changeReqDetailModal .modal-content .modal-body #changeReqDetailTable table {
    --bs-table-bg: white;
    text-align: start;
    border-color: #DEE2E6;
}

#changeReqDetailModal .modal-content .modal-body #changeReqDetailTable table > :not(caption) > * > * {
    padding: 1rem 1rem;
}

#changeReqDetailModal .modal-content .modal-body #changeReqDetailTable table th {
    text-align: start;
    color: #0065FF;
    font-weight: 600;
    font-size: 18px;
    padding-left: 2vw !important;
}

#changeReqDetailModal .modal-content .modal-body #changeReqDetailTable table td {
    text-align: start;
    padding-left: 2vw !important;
}

#changeReqDetailModal .modal-content .modal-body #changeReqDetailTable table thead th:not(:last-of-type), tbody th, tbody th + td {
    border-width: 0 1px 0 0;
}

#changeReqDetailModal .modal-content #changeReqDetailChoice {
    padding: 3vh 1vw 0 0;
}

#changeReqDetailModal .modal-content #changeReqDetailChoice button {
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: none;
    padding: 1vh 0;
    font-weight: 600;
    width: 14%;
}

#changeReqDetailModal .modal-content #changeReqDetailChoice button:nth-of-type(1) {
    border: 1px solid #FBBFBF;
    background-color: #FBBFBF;
    color: #DC3545;
}
#changeReqDetailModal .modal-content #changeReqDetailChoice button:nth-of-type(1):hover {
    border: 1px solid #DC3545;
    background-color: #DC3545;
    color: #fff;
}

#changeReqDetailModal .modal-content #changeReqDetailChoice button:nth-of-type(2) {
    border: 1px solid #C7EDD9;
    background-color: #C7EDD9;
    color: #41AF79;
}
#changeReqDetailModal .modal-content #changeReqDetailChoice button:nth-of-type(2):hover {
    border: 1px solid #41AF79;
    background-color: #41AF79;
    color: #fff;
}

#changeReqDetailModal .modal-body #changeReqDetailOldThumbnails, #changeReqDetailModal .modal-body #changeReqDetailNewThumbnails {
    margin-top: 1vh;
}

#changeReqDetailModal .modal-body #changeReqDetailOldThumbnails .carousel-item img, #changeReqDetailModal .modal-body #changeReqDetailNewThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#changeReqDetailModal .modal-body #changeReqDetailOldNoThumbnails, #changeReqDetailModal .modal-body #changeReqDetailNewNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
}


/* newChangeReqModal */

#newChangeReqModal {
    --bs-modal-width: 50vw;
}

#newChangeReqModal .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 12px !important;
}

#newChangeReqModal .modal-content .modal-header {
    background-color: white; 
    border-radius: 12px 12px 0 0 !important;
    padding: 2vh 1.2vw 1.2vh 1.2vw;
    color: #0065FF;
}

#newChangeReqModal .modal-header {
    padding: 2vh 1.2vw 0.8vh 1.2vw;
}

#newChangeReqModal .modal-header #newChangeReqModalLabel {
    font-weight: 600;
}

#newChangeReqModal .modal-header #newChangeReqModalLabel br {
    display: block;
    margin: 0.1em 0;
}

#newChangeReqModal .modal-header #newChangeReqModalLabel i {
    color: #0065FF;
}

#newChangeReqModal .modal-header #newChangeReqModalLabel select {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
}

#newChangeReqModal .modal-body {
    background-color: white; 
    border-radius: 0 0 12px 12px !important;
    padding: 0.8vh 1.2vw 4vh 1.2vw;
    font-size: 18px;
}

#newChangeReqModal .modal-body hr {
    margin: 2vh 0 2vh 0;
}

#newChangeReqModal .modal-body input#newChangeReqOldName, #newChangeReqModal .modal-body input#newChangeReqOldSize {
    background-color: #d4d0d0;
}

#newChangeReqModal .modal-body #newChangeReqName {
    font-weight: 700;
    margin-bottom: 2vh;
}

#newChangeReqModal .modal-body #newChangeReqCategoryRow {
    margin-top: 1vh;
}

#newChangeReqModal .modal-body h6#newChangeReqCategoryTitle {
    font-weight: bold;
    color: rgb(81, 80, 80);
    margin-bottom: 3px;
}

#newChangeReqModal .modal-body h6:not(#newChangeReqCategoryTitle) {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

#newChangeReqModal .modal-body input, #newChangeReqModal .modal-body select {
    border: 2px solid rgb(189, 189, 189);
    box-shadow: none;
    border-radius: 7px;
    padding: .375rem .75rem;
    background-color: #FFFFFF;
    color: #7f7e7e;
}

#newChangeReqModal .modal-body textarea#newChangeReqContent {
    resize: none;
    width: 100%;
    height: 10vh;
    margin: 1vh 0 2vh 0;
    padding: 3px 8px;
    border: 2px solid #0066ffa4;
    box-shadow: none;
    border-radius: 20px;
}

#newChangeReqModal .modal-content #newChangeReqChoice {
    padding: 3vh 1vw 0 0;
}

#newChangeReqModal .modal-content #newChangeReqChoice button {
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: none;
    padding: 1vh 0;
    font-weight: 600;
    width: 20%;
}

#newChangeReqModal .modal-content #newChangeReqChoice button:nth-of-type(1) {
    border: 1px solid #C7EDD9;
    background-color: #C7EDD9;
    color: #41AF79;
}

#newChangeReqModal .modal-body #newChangeReqThumbnails {
    margin-top: 1vh;
}

#newChangeReqModal .modal-body #newChangeReqThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#newChangeReqModal .modal-body #newChangeReqNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
} 


/* changeLocReqDetailModal */

#changeLocReqDetailModal {
    --bs-modal-width: 60vw;
}

#changeLocReqDetailModal .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 12px !important;
}

#changeLocReqDetailModal .modal-content .modal-header {
    background-color: white; 
    border-radius: 12px 12px 0 0 !important;
    padding: 2vh 1.2vw 1.2vh 1.2vw;
    color: #0065FF;
}

#changeLocReqDetailModal .modal-content .modal-body {
    background-color: white; 
    border-radius: 0 0 12px 12px !important;
    padding: 1.2vh 3vw 1vh 3vw;
    font-size: 18px;
}

#changeLocReqDetailModal .modal-content .modal-body #changeLocReqDetailTable table {
    --bs-table-bg: white;
    text-align: start;
    border-color: #DEE2E6;
}

#changeLocReqDetailModal .modal-content .modal-body #changeLocReqDetailTable table > :not(caption) > * > * {
    padding: 1rem 1rem;
}

#changeLocReqDetailModal .modal-content .modal-body #changeLocReqDetailTable table th {
    text-align: start;
    color: #0065FF;
    font-weight: 600;
    font-size: 18px;
    padding-left: 2vw !important;
}

#changeLocReqDetailModal .modal-content .modal-body #changeLocReqDetailTable table td {
    text-align: start;
    padding-left: 2vw !important;
}

#changeLocReqDetailModal .modal-content .modal-body #changeLocReqDetailTable table thead th:not(:last-of-type), tbody th, tbody th + td {
    border-width: 0 1px 0 0;
}

#changeLocReqDetailModal .modal-content #changeLocReqDetailChoice {
    padding: 3vh 1vw 0 0;
}

#changeLocReqDetailModal .modal-content #changeLocReqDetailChoice button {
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: none;
    padding: 1vh 0;
    font-weight: 600;
    width: 14%;
}

#changeLocReqDetailModal .modal-content #changeLocReqDetailChoice button:nth-of-type(1) {
    border: 1px solid #FBBFBF;
    background-color: #FBBFBF;
    color: #DC3545;
}
#changeLocReqDetailModal .modal-content #changeLocReqDetailChoice button:nth-of-type(1):hover {
    border: 1px solid #DC3545;
    background-color: #DC3545;
    color: #fff;
}

#changeLocReqDetailModal .modal-content #changeLocReqDetailChoice button:nth-of-type(2) {
    border: 1px solid #C7EDD9;
    background-color: #C7EDD9;
    color: #41AF79;
}
#changeLocReqDetailModal .modal-content #changeLocReqDetailChoice button:nth-of-type(2):hover {
    border: 1px solid #41AF79;
    background-color: #41AF79;
    color: #fff;
}

#changeLocReqDetailModal .modal-body #changeLocReqDetailOldThumbnails, #changeLocReqDetailModal .modal-body #changeLocReqDetailNewThumbnails {
    margin-top: 1vh;
}

#changeLocReqDetailModal .modal-body #changeLocReqDetailOldThumbnails .carousel-item img, #changeLocReqDetailModal .modal-body #changeLocReqDetailNewThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#changeLocReqDetailModal .modal-body #changeLocReqDetailOldNoThumbnails, #changeLocReqDetailModal .modal-body #changeLocReqDetailNewNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
}


/* newChangeLocReqModal */
#drop-area, #edit-drop-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
}

#drop-area.hover {
    background-color: #f0f8ff; /* Light Blue */
}
#edit-drop-area.hover {
    background-color: #f0f8ff; /* Light Blue */
}

#newChangeLocReqModal {
    --bs-modal-width: 50vw;
}

#newChangeLocReqModal .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 12px !important;
}

#newChangeLocReqModal .modal-content .modal-header {
    background-color: white; 
    border-radius: 12px 12px 0 0 !important;
    padding: 2vh 1.2vw 1.2vh 1.2vw;
    color: #0065FF;
}

#newChangeLocReqModal .modal-header {
    padding: 2vh 1.2vw 0.8vh 1.2vw;
}

#newChangeLocReqModal .modal-header #newChangeLocReqModalLabel {
    font-weight: 600;
}

#newChangeLocReqModal .modal-header #newChangeLocReqModalLabel br {
    display: block;
    margin: 0.1em 0;
}

#newChangeLocReqModal .modal-header #newChangeLocReqModalLabel i {
    color: #0065FF;
}

#newChangeLocReqModal .modal-header #newChangeLocReqModalLabel select {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
}

#newChangeLocReqModal .modal-body {
    background-color: white; 
    border-radius: 0 0 12px 12px !important;
    padding: 0.8vh 1.2vw 4vh 1.2vw;
    font-size: 18px;
}

#newChangeLocReqModal .modal-body hr {
    margin: 2vh 0 2vh 0;
}

#newChangeLocReqModal .modal-body input#newChangeLocReqOldAdForm, #newChangeLocReqModal .modal-body input#newChangeLocReqOldAdType, #newChangeLocReqModal .modal-body input#newChangeLocReqOldLocationType {
    background-color: #d4d0d0;
}

#newChangeLocReqModal .modal-body #newChangeLocReqName {
    font-weight: 700;
    margin-bottom: 2vh;
}

#newChangeLocReqModal .modal-body #newChangeLocReqCategoryRow {
    margin-top: 1vh;
}

#newChangeLocReqModal .modal-body h6#newChangeLocReqCategoryTitle {
    font-weight: bold;
    color: rgb(81, 80, 80);
    margin-bottom: 3px;
}

#newChangeLocReqModal .modal-body h6:not(#newChangeLocReqCategoryTitle) {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

#newChangeLocReqModal .modal-body input, #newChangeLocReqModal .modal-body select {
    border: 2px solid rgb(189, 189, 189);
    box-shadow: none;
    border-radius: 7px;
    padding: .375rem .75rem;
    background-color: #FFFFFF;
    color: #7f7e7e;
}

#newChangeLocReqModal .modal-body textarea#newChangeLocReqContent {
    resize: none;
    width: 100%;
    height: 10vh;
    margin: 1vh 0 2vh 0;
    padding: 3px 8px;
    border: 2px solid #0066ffa4;
    box-shadow: none;
    border-radius: 20px;
}

#newChangeLocReqModal .modal-content #newChangeLocReqChoice {
    padding: 3vh 1vw 0 0;
}

#newChangeLocReqModal .modal-content #newChangeLocReqChoice button {
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: none;
    padding: 1vh 0;
    font-weight: 600;
    width: 20%;
}

#newChangeLocReqModal .modal-content #newChangeLocReqChoice button:nth-of-type(1) {
    border: 1px solid #C7EDD9;
    background-color: #C7EDD9;
    color: #41AF79;
}

#newChangeLocReqModal .modal-body #newChangeLocReqThumbnails {
    margin-top: 1vh;
}

#newChangeLocReqModal .modal-body #newChangeLocReqThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#newChangeLocReqModal .modal-body #newChangeLocReqNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
} 


/* permissionReqDetailModal */

#permissionReqDetailModal {
    --bs-modal-width: 50vw;
}
#permissionReqDetailModal .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 12px !important;
}

#permissionReqDetailModal .modal-header {
    background-color: white; 
    border-radius: 12px 12px 0 0 !important;
    padding: 2vh 1.2vw 0.8vh 1.2vw;
    color: #0065FF;
}

#permissionReqDetailModal .modal-header #permissionReqDetailModalLabel {
    font-weight: 600;
}

#permissionReqDetailModal .modal-header #permissionReqDetailModalLabel br {
    display: block;
    margin: 0.1em 0;
}

#permissionReqDetailModal .modal-header #permissionReqDetailModalLabel i {
    color: #0065FF;
}

#permissionReqDetailModal .modal-body {
    padding: 0.8vh 1.2vw 4vh 1.2vw;
    font-size: 18px;
    border-radius: 0 0 12px 12px !important;
    background-color: white; 
}

#permissionReqDetailModal .modal-body hr {
    margin: 0.5vh 0 2vh 0;
    
}

#permissionReqDetailModal .modal-body #permissionReqDetailCoName {
    font-weight: 600;
}

#permissionReqDetailModal .modal-body #permissionReqDetailName {
    font-weight: 700;
    margin-bottom: 2vh;
}

#permissionReqDetailModal .modal-body #permissionReqDetailCategoryRow {
    margin-top: 1vh;
}

#permissionReqDetailModal .modal-body h6#permissionReqDetailCategoryTitle {
    font-weight: bold;
    color: rgb(81, 80, 80);
    margin-bottom: 3px;
}

#permissionReqDetailModal .modal-body h6:not(#permissionReqDetailCategoryTitle) {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

#permissionReqDetailModal .modal-body h6#permissionReqDetailContractDateStart {
    color: #0065FF;
    font-weight: 500;
}

#permissionReqDetailModal .modal-body h6#permissionReqDetailContractDateEnd {
    color: #0065FF;
    font-weight: 500;
}

#permissionReqDetailModal .modal-body #permissionReqDetailThumbnails {
    margin-top: 1vh;
}

#permissionReqDetailModal .modal-body #permissionReqDetailThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#permissionReqDetailModal .modal-body #permissionReqDetailNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
}

#permissionReqDetailModal .modal-content #permissionReqDetailChoice {
    padding: 3vh 1vw 0 0;
}

#permissionReqDetailModal .modal-content #permissionReqDetailChoice button {
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: none;
    padding: 1vh 0;
    font-weight: 600;
    width: 14%;
}

#permissionReqDetailModal .modal-content #permissionReqDetailChoice button:nth-of-type(1) {
    border: 1px solid #FBBFBF;
    background-color: #FBBFBF;
    color: #DC3545;
}
#permissionReqDetailModal .modal-content #permissionReqDetailChoice button:nth-of-type(1):hover {
    border: 1px solid #DC3545;
    background-color: #DC3545;
    color: #fff;
}

#permissionReqDetailModal .modal-content #permissionReqDetailChoice button:nth-of-type(2) {
    border: 1px solid #C7EDD9;
    background-color: #C7EDD9;
    color: #41AF79;
}
#permissionReqDetailModal .modal-content #permissionReqDetailChoice button:nth-of-type(2):hover {
    border: 1px solid #41AF79;
    background-color: #41AF79;
    color: #fff;
}


/* newPermissionReqModal */

#newPermissionReqModal {
    --bs-modal-width: 50vw;
}

#newPermissionReqModal .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 12px !important;
}

#newPermissionReqModal .modal-content .modal-header {
    background-color: white; 
    border-radius: 12px 12px 0 0 !important;
    padding: 2vh 1.2vw 1.2vh 1.2vw;
    color: #0065FF;
}

#newPermissionReqModal .modal-header {
    padding: 2vh 1.2vw 0.8vh 1.2vw;
}

#newPermissionReqModal .modal-header #newPermissionReqModalLabel {
    font-weight: 600;
}

#newPermissionReqModal .modal-header #newPermissionReqModalLabel br {
    display: block;
    margin: 0.1em 0;
}

#newPermissionReqModal .modal-header #newPermissionReqModalLabel i {
    color: #0065FF;
}

#newPermissionReqModal .modal-header #newPermissionReqModalLabel select {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
}

#newPermissionReqModal .modal-body {
    background-color: white; 
    border-radius: 0 0 12px 12px !important;
    padding: 0.8vh 1.2vw 4vh 1.2vw;
    font-size: 18px;
}

#newPermissionReqModal .modal-body hr {
    margin: 0.5vh 0 2vh 0;
}

#newPermissionReqModal .modal-body #newPermissionReqCoName {
    font-weight: 600;
}

#newPermissionReqModal .modal-body #newPermissionReqCoName input {
    width: calc(100% - 1.2vw * 2);
}

#newPermissionReqModal .modal-body #newPermissionReqName {
    font-weight: 700;
    margin-bottom: 2vh;
}

#newPermissionReqModal .modal-body #newPermissionReqCategoryRow {
    margin-top: 1vh;
}

#newPermissionReqModal .modal-body h6#newPermissionReqCategoryTitle {
    font-weight: bold;
    color: rgb(81, 80, 80);
    margin-bottom: 3px;
}

#newPermissionReqModal .modal-body h6:not(#newPermissionReqCategoryTitle) {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

#newPermissionReqModal .modal-body input, #newPermissionReqModal .modal-body select {
    border: 2px solid rgb(189, 189, 189);
    box-shadow: none;
    border-radius: 7px;
    padding: .375rem .75rem;
    background-color: #FFFFFF;
    color: #7f7e7e;
}

#newPermissionReqModal .modal-body textarea#newPermissionReqContent {
    resize: none;
    width: 100%;
    height: 10vh;
    margin: 1vh 0 2vh 0;
    padding: 3px 8px;
    border: 2px solid #0066ffa4;
    box-shadow: none;
    border-radius: 20px;
}

#newPermissionReqModal .modal-content #newPermissionReqChoice {
    padding: 3vh 1vw 0 0;
}

#newPermissionReqModal .modal-content #newPermissionReqChoice button {
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: none;
    padding: 1vh 0;
    font-weight: 600;
    width: 20%;
}

#newPermissionReqModal .modal-content #newPermissionReqChoice button:nth-of-type(1) {
    border: 1px solid #C7EDD9;
    background-color: #C7EDD9;
    color: #41AF79;
}

#newPermissionReqModal .modal-body #newPermissionReqThumbnails {
    margin-top: 1vh;
}

#newPermissionReqModal .modal-body #newPermissionReqThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#newPermissionReqModal .modal-body #newPermissionReqNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
} 


/* ReportDetailModal */

#reportDetailModal {
    --bs-modal-width: 50vw;
}

#reportDetailModal .modal-header {
    padding: 2vh 1.2vw 0.8vh 1.2vw;
}

#reportDetailModal .modal-header #reportDetailModalLabel {
    font-weight: 800;
    font-size: 18px;
}

#reportDetailModal .modal-header #reportDetailModalLabel br {
    display: block;
    margin: 0.1em 0;
}

#reportDetailModal .modal-header #reportDetailModalLabel i {
    color: #0065FF;
}

#reportDetailModal .modal-body {
    padding: 0.8vh 1.2vw 4vh 1.2vw;
    font-size: 18px;
}

#reportDetailModal .modal-body hr {
    margin: 2vh 0 2vh 0;
}

#reportDetailModal .modal-body #reportDetailAddress {
    color: #0065FF;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

#reportDetailModal .modal-body #reportDetailName {
    font-weight: 700;
    margin-bottom: 2vh;
}

#reportDetailModal .modal-body #reportDetailCategoryRow {
    margin-top: 1vh;
}

#reportDetailModal .modal-body #reportDetailCategoryRow:first {
    margin-top: 4vh;
}

#reportDetailModal .modal-body h6#reportDetailCategoryTitle {
    font-weight: bold;
    color: rgb(81, 80, 80);
    margin-bottom: 3px;
}

#reportDetailModal .modal-body h6:not(#reportDetailCategoryTitle) {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

#reportDetailModal .modal-body #reportDetailThumbnails {
    margin-top: 1vh;
}

#reportDetailModal .modal-body #reportDetailThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#reportDetailModal .modal-body #reportDetailNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
}


/* ReportUpdateModal */

#reportUpdateModal {
    --bs-modal-width: 50vw;
}

#reportUpdateModal .modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#reportUpdateModal .modal-header {
    background-color: white; 
    padding: 2vh 1.2vw 0.8vh 1.2vw;
}

#reportUpdateModal .modal-header #reportUpdateModalLabel {
    font-weight: 800;
    font-size: 18px;
}

#reportUpdateModal .modal-header #reportUpdateModalLabel br {
    display: block;
    margin: 0.1em 0;
}

#reportUpdateModal .modal-header #reportUpdateModalLabel i {
    color: #0065FF;
}

#reportUpdateModal .modal-body {
    background-color: white; 
    padding: 0.8vh 1.2vw 4vh 1.2vw;
    border-radius: 0 0 var(--bs-modal-inner-border-radius) var(--bs-modal-inner-border-radius);
    font-size: 18px;
}

#reportUpdateModal .modal-body hr {
    margin: 2vh 0 1vh 0;
}

#reportUpdateModal .modal-body #reportUpdateAddress {
    color: #0065FF;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

#reportUpdateModal .modal-body #reportUpdateName {
    font-weight: 700;
    margin-bottom: 2vh;
}

#reportUpdateModal .modal-body #reportUpdateCategoryRow {
    margin-top: 1vh;
}

#reportUpdateModal .modal-body #reportUpdateCategoryRow:first {
    margin-top: 4vh;
}

#reportUpdateModal .modal-body h6#reportUpdateCategoryTitle {
    font-weight: bold;
    color: rgb(81, 80, 80);
    margin-bottom: 3px;
}

#reportUpdateModal .modal-body h6:not(#reportUpdateCategoryTitle) {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

#reportUpdateModal .modal-body textarea#reportUpdateSolution {
    resize: none;
    width: 100%;
    height: 10vh;
    margin: 1vh 0 0.5vh 0;
    border: 2px solid rgb(189, 189, 189);
    box-shadow: none;
    border-radius: 7px;
    padding: .375rem .75rem;
    background-color: #FFFFFF;
    color: #7f7e7e;
}

#reportUpdateModal .modal-content #reportUpdateChoice {
    padding: 3vh 1vw 0 0;
}

#reportUpdateModal .modal-content #reportUpdateChoice button {
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow: none;
    padding: 1vh 0;
    font-weight: 600;
    width: 14%;
}

#reportUpdateModal .modal-content #reportUpdateChoice button:nth-of-type(1) {
    border: 1px solid #FBBFBF;
    background-color: #FBBFBF;
    color: #DC3545;
}
#reportUpdateModal .modal-content #reportUpdateChoice button:nth-of-type(1):hover {
    border: 1px solid #DC3545;
    background-color: #DC3545;
    color: #fff;
}

#reportUpdateModal .modal-content #reportUpdateChoice button:nth-of-type(2) {
    border: 1px solid #C7EDD9;
    background-color: #C7EDD9;
    color: #41AF79;
}
#reportUpdateModal .modal-content #reportUpdateChoice button:nth-of-type(2):hover {
    border: 1px solid #41AF79;
    background-color: #41AF79;
    color: #fff;
}

#reportUpdateModal .modal-body #reportUpdateThumbnails {
    margin-top: 1vh;
}

#reportUpdateModal .modal-body #reportUpdateThumbnails .carousel-item img {
    border: 1px solid white;
    border-radius: 20px;
    width: 20vw !important;
    height: 30vh;
    margin: auto;
}

#reportUpdateModal .modal-body #reportUpdateNoThumbnails {
    text-align: center;
    font-weight: 200;
    color: rgb(98, 97, 97);
}

/* Confirmation modal */
#confirmationModal .modal-header {
    border: 0;
    font-size: 32px;
    font-family: 'Noto Sans', sans-serif;
}

#confirmationModal .modal-footer {
    border: 0;
    display: flex;
    justify-content: flex-end;
}

#confirmationModal .modal-footer #confirmDeleteBtn {
    /* width: 5vw; */
    background-color: #0065FF;
    border: 0;
}

#confirmationModal .modal-footer #confirmDeleteBtn:hover {
    background-color: rgb(5, 83, 200);
}

#confirmationModal .modal-footer #cancelDeleteBtn {
    /* width: 5vw; */
    background-color: grey;
    border: 0;
}

#confirmationModal .modal-footer #cancelDeleteBtn:hover {
    background-color: rgb(85, 84, 84);
}