.sidebar-active {
    background-image: linear-gradient(to right, rgba(168, 199, 246, 0.47), #FFFFFF);
    border: solid #2075f4a3;
    border-width: 0 0 0 3px;
    color: #2074F4;
}

.sidebar-active img {
    filter: invert(34%) sepia(56%) saturate(3554%) hue-rotate(206deg) brightness(98%) contrast(94%);
}

/* #profile {
    font-size: 8px;
    margin: 1vh 0;
}

#profile #avatar {
    width: 4em;
    height: auto;
}

#profile #notification {
    width: 2em;
    height: auto;
} */

main > div {
    height: 100vh;
}

#logo {
    text-align: center;
    padding: 1em;
}

#side-bar {
    padding: 1em;
    height: 100%;
    box-shadow: 0 10000px;
}

#side-bar > img {
    text-align: center;
}

#side-bar ul {
    padding: 0;
    list-style-type: none;
}

#side-bar button {
    background: none;
    box-shadow: none;
    width: 100%;
    border: 0;
}

#side-bar li {
    margin: 0.9vh 0;
    padding: 1.5vh 0 1.5vh 0.5vw;
    display: flex;
}

#side-bar li:hover {
    cursor: pointer;
}

#side-bar li:first-of-type {
    margin-top: 3em;
}

#side-bar li img {
    margin: 0 0.5vw 0 0;
}

/* @media screen and (max-width: 1250px) {
    #side-bar {
        font-size: 13px;
    }
    #top-bar {
        padding: 1vh;
    }
}
@media screen and (max-width: 1000px) {
    #side-bar {
        font-size: 7px;
    }
    #side-bar img {
        width: 4vw;
        height: auto;
    }
    #top-bar {
        padding: 0.5vh;
    }
}
@media screen and (max-width: 900px) {
    #side-bar {
        font-size: 7px;
    }
    #side-bar img {
        width: 3vw;
        height: auto;
    }
    #top-bar {
        padding: 0.5vh;
    }
    #content {
        margin-top: 6vh;
        z-index: 0;
    }
} */