body{
    background: linear-gradient(to bottom, #0099ff 0%, #ccffff 100%);
    height: 100vh;
}
#AppName {
    color: #0D6EFD;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
/* #LoiDangNhap:not(.disabled) + #AppName {
    padding-bottom: 0;
} */
h5{
    font-size: medium;
}
#noti1,#noti2{
    color: #04B400;
}
#password, #confirmPassword{
    background-color: #f1f1f1;
}
#otherLogin button{
    background-color: #FFFFFF;
    border: 0;
    padding: 5px;
    font-size: 2em;
}
