/*
    FILE NÀY SẼ STYLE NHỮNG THÀNH PHẦN CỦA TABLE 
    NHỮNG CÁI NHƯ HEADING, TD, THẺ TAG, NÚT CHI TIẾT ...
    
    XEM MẪU BÊN TRANG baocao CỦA SỞ
*/

table th {
    font-size: var(--text-base);
    color: var(--title-color);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

table th select {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
}

table td {
    font-size: var(--text-sm);
    color: var(--text-color);
    text-align: center;
    vertical-align: middle;
}



/* ========== CÁC CÁI TAG TÌNH TRẠNG XỬ LÝ ========== */
.status-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 40px;
}
.status-tag span {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-left: 4px;
}
.status-tag-dangxuly {
    background-color: var(--dangxuly-color-subtle);
    color: var(--dangxuly-color);
}
.status-tag-daxuly {
    background-color: var(--daxuly-color-subtle);
    color: var(--daxuly-color);
}
.status-tag-tuchoi {
    background-color: var(--tuchoi-color-subtle);
    color: var(--tuchoi-color);
}



/* ========== Nút Chi tiết ========== */
table .table-detail-button,.delete-button,.ttqc-delete-button,.edit-button {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
}
