<main class="container rounded-5 bg-white w-50" id="mainBody">
  <div class="container " id="masterdiv">
    <button href="{{dynamicHref}}" class="btn border-0 bg-transparent px-4 mt-3 text-primary" id="backButton"><i
        class="bi bi-arrow-left-square-fill"></i></button>
    <h1 class="bg-transparent text-center fw-bold" id="AppName">
      AdsMap
    </h1>
    <div class="d-flex justify-content-center">
      <form action="/changePassword" method="post" class="w-75 p-4" id="changePasswordForm">
        <!-- !IMPORTANT: add method="post" later to fetch data from server, this code still use client side to login-->
        <div class="form-outline mb-4">
          <label class="form-label fw-bold" for="oldpassword">Mật khẩu cũ</label>
          <input type="oldpassword" id="oldpassword" class="form-control rounded-5" name="oldPassword" required />
        </div>
        <!-- New Password input-->
        <div class="form-outline mb-4">
          <label class="form-label fw-bold" for="Password">Mật khẩu mới</label>
          <input type="password" id="password" class="form-control rounded-5" name="newPassword" required />
        </div>
        <!-- New Password confirm input -->
        <div class="form-outline mb-4">
          <label class="form-label fw-bold" for="ConfirmPassword">Xác nhận
            mật khẩu mới</label>
          <input type="password" id="confirmPassword" class="form-control rounded-5" name="newConfirmPassword" required />
        </div>
        <div class="form-check form-check-inline mb-3">
          <input class="form-check-input" type="checkbox" id="showPassword" value="true">
          <label class="form-check-label" for="showPassword">Hiện mật khẩu</label>
        </div>
        <h5 id="pwMismatch" class="text-danger">{{error}}</h5>
        <!-- Submit button -->
        <div class="d-flex justify-content-center p-3">
          <button type="submit" class="btn btn-primary btn-block mb-4 rounded-5">Đổi mật
            khẩu</button>
        </div>
      </form>
    </div>

  </div>
</main>

<script src="./js/changePassword.js"></script>