<link rel="stylesheet" type="text/css" href="/css/general/changePasswordDone.css">

<main class="OTPValidate-screen">

    <div class="OTPValidate-illustration">
        <img src="/img/illustration/changepassworddone.jpg" alt="">
    </div>

    <div class="OTPValidate-content">
        <h1>Password đã được khôi phục</h1>
        <h2>Bạn sẽ được chuyển về trang đăng nhập trong vòng <em><span id="countdown">5</span> giây</em>.</h2>
    </div>

</main>

<script>
    let seconds = 5;

    function updateCountdown() {
        document.getElementById('countdown').innerText = seconds;
    }

    function countdown() {
        updateCountdown();
        if (seconds > 0) {
            seconds--;
            setTimeout(countdown, 1000);
        } else {
            window.location.href = '/';
        }
    }

    setTimeout(countdown, 1000);
</script>
