<link rel="stylesheet" type="text/css" href="/css/general/changePassword.css">

<main class="changePassword-screen">
  <div class="changePassword-illustration">
        <img src="/img/illustration/resetpassword.png" alt="">
  </div>
  <div class="changePassword-content">
        <h1>Đổi mật khẩu</h1>
    </div>

  <form action="/changePassword" method="post" class="changePassword-form" id="changePasswordForm">

    <label class="form-label fw-bold" for="oldpassword">Mật khẩu cũ</label>
    <input type="password" id="oldpassword" name="oldpassword" placeholder="Nhập mật khẩu cũ" required />
  
    <label class="form-label fw-bold" for="newpassword">Mật khẩu mới</label>
    <input type="password" id="newpassword" name="newpassword" placeholder="Nhập mật khẩu mới" required />

    <label class="form-label fw-bold" for="confirmnewpassword">Xác nhận mật khẩu mới</label>
    <input type="password" id="confirmnewpassword" name="confirmnewpassword" placeholder="Xác nhận mật khẩu mới" required />

    <div class="form-check form-check-inline mb-3">
      <input class="form-check-input" type="checkbox" id="showPassword" value="true">
      <label class="form-check-label" for="showPassword">Hiện mật khẩu</label>
    </div>
    <h5 id="pwMismatch" class="text-danger">{{error}}</h5>
    <!-- Submit button -->
    <div class="d-flex justify-content-center p-3">
      <button type="submit" class="btn btn-primary btn-block mb-4 rounded-5">Đổi mật
        khẩu</button>
    </div>
  </form>
  
</main>

<script src="./js/changePassword.js"></script>