<link rel="stylesheet" type="text/css" href="/css/general/forgotPassword.css">

<main class="forgorPassword-screen">

    <a href="/login" id="backButton" class="forgorPassword-back">
        <i class="bi bi-arrow-left-short"></i>
    </a>

    <div class="forgorPassword-illustration">
        <img src="/img/illustration/forgetpassword.png" alt="">
    </div>

    <div class="forgorPassword-content">
        <h1>Quên mật khẩu?</h1>
        <h2>Nhập email tài khoản để nhận mã khôi phục</h2>
    </div>

    <form action="/forgotPassword" method="post" id="forgorPassword-form" class="forgorPassword-form">
        <input type="email" id="Email" name="Email" required placeholder="Địa chỉ email..." />
        <button type="submit" class="btn btn-primary custom-btn w-100" id="guiEmailButton">
            Gửi mã khôi phục vào email
        </button>
    </form>

</main>