<link rel="stylesheet" type="text/css" href="css/general/resetPassword.css">

<!--Bỏ css vào body cũng đc, thư mục đang xét là HTML vậy nên gọi như thế này để ko bị lỗi-->
<main class="container rounded-5 bg-white w-50 shadow-lg" id="mainBody">
    <div class="container " id="masterdiv">
        <h1 class="bg-transparent text-center fw-bold" id="AppName">
            AdsMap
        </h1>
        <h5 class="bg-transparent text-center">Vui lòng điền mật khẩu mới</h5>
        <h5 class="bg-transparent text-center">Mật khẩu mới phải đúng quy định và
            không được trùng với mật khẩu cũ</h5>
        <small class="bg-transparent"></small>
        <div class="d-flex justify-content-center">
            <form action="/forgetPassword" method="post" class="w-75 p-4" id="changePasswordForm">
                <!-- !IMPORTANT: add method="post" later to fetch data from server, this code still use client side to login-->
                <!-- Email input-->
                <div class="form-outline mb-4">
                    <label class="form-label fw-bold" for="Password">Mật khẩu mới</label>
                    <input type="password" id="password" class="form-control rounded-3" name="password" required />
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label fw-bold" for="ConfirmPassword">Xác nhận
                        mật khẩu mới</label>
                    <input type="password" id="confirmPassword" class="form-control rounded-3" name="confirmPassword"
                        required />
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="checkbox" id="showPassword" value="true">
                    <label class="form-check-label" for="showPassword">Hiện mật khẩu</label>
                </div>
                <!-- Submit button -->
                <div class="d-flex justify-content-center p-3">
                    <button type="submit" class="btn btn-primary btn-block mb-4 rounded-5">Đổi mật
                        khẩu</button>
                </div>
            </form>
        </div>

    </div>
</main>

<!-- Những dòng này block script thì ko chạy đc nhưng mà cái này ko quan trọng nên client side chả sao, vẫn đổi mật khẩu bth--->
<script src="./js/resetPassword.js">

</script>