.ttqc-container {
    width: 100%;
    height: 100%;
}

.ttqc-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.ttqc-header h1 {
    font-size: var(--text-3xl);
    font-weight: 700;
    color: var(--title-color);
    margin-right: 16px;
    margin-bottom: 0;
}

.ttqc-table-container {
    padding: 0 0.8rem;
}