body {
    background-color: #EBE8E8;
    height: 100vh;
}

#AppName {
    color: #0D6EFD;
}

#backButton {
    font-size: 2em;
}

input[type=file] {
    display: none;
}

.form-control::placeholder {
    font-style: italic;
}

#genericAvatar {
    max-width: inherit;
    max-height: inherit;
    width: 60%;
    height: auto;
    object-fit: cover;
}

h5 {
    font-weight: normal;
}

#date {
    font-style: italic;

}

.dropdown-menu {
    max-height: 20vh;
    overflow-y: auto;
}