.sidebar-active {
    background-image: linear-gradient(to right, rgba(168, 199, 246, 0.47), #FFFFFF);
    border: solid #2074F4;
    border-width: 1px 1px 1px 4px;
}

#profile {
    font-size: 8px;
    margin: 1vh 0;
}

#profile #avatar {
    width: 4em;
    height: auto;
}

#profile #notification {
    width: 2em;
    height: auto;
}

#top-bar, #side-bar {
    z-index: 52;
    background-color: white;
}

main > div {
    height: 100vh;
}

#top-bar {
    padding: 2vh;
    position: absolute;
}

#collapsibleNavId button {
    margin: 1vh 0;
    background: none;
    box-shadow: none;
    border: 0;
}

#collapsibleProfile {
    background-image: linear-gradient(to right, rgba(177, 162, 162, 0.63), #FFFFFF);
}

#side-bar {
    padding-top: 20vh;
    height: 100%;
    box-shadow: 0 10000px;
}

#side-bar ul {
    padding: 0;
    list-style-type: none;
}

#side-bar button {
    background: none;
    box-shadow: none;
    width: 100%;
    border: 0;
}

#side-bar li {
    margin: 1em 0;
    text-align: center;
}

#content {
    margin-top: 12vh;
    z-index: 0;
    background-color: #EBE8E8;
}

#filter-button {
    position: absolute;
    right: 3em;
    bottom: 3em;
}

#filter-button button {
    background-color: #0D6EFD;
    box-shadow: 3px 5px 5px grey;
    border: 1px solid #0D6EFD;
    border-radius: 100px;
    padding: 0.75em 1em;
}

#filterMenu {
    align-items: center;
    justify-content: center;
    margin: 0 20vw 10em 20vw;
    height: 50vh;
    padding: 5vh 0;
    border: 3px solid #0065FF;
    border-radius: 15px;
    font-size: large;
}

#filterMenu form h5 {
    color: #0065FF;
    font-weight: bolder;
    margin-bottom: 2vh;
}

#filterMenu input[type="checkbox"] {
    opacity: 0;
    width: 1px; height: 1px;
}

#filterMenu input[type="checkbox"] + label {
    padding: 0.5em;
    margin: 0.5vh 0;
    border-radius: 20px;
}

#filterMenu input[type="checkbox"]:checked + label {
    background-color: #D9D9D9;
}

#filterMenu input#filterSubmit {
    display: none;
}

#filterMenu #filterNav {
    margin-top: 4vh;
}

#filterMenu #filterNav button {
    color: grey;
    background-color: #F2F5FF;
    box-shadow: none;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 0.25em 0.75em;
    margin: 0 1vw;
}

#filterMenu #filterNav button:hover {
    color: white;
    background-color: #FF0000;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.25em 0.75em;
}

#filterMenu #filterNav label {
    display:inline-table;
    text-align: center;
    color: #0D6EFD;
    background: none;
    box-shadow: none;
    border: 1px solid #0D6EFD;
    border-radius: 15px;
    padding: 0.25em 0.75em;
}

#filterMenu #filterNav label:hover {
    color: white;
    background-color: #0D6EFD;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.25em 0.75em;
}

@media screen and (max-width: 1250px) {
    #side-bar {
        font-size: 13px;
    }
    #top-bar {
        padding: 1vh;
    }
}
@media screen and (max-width: 1000px) {
    #side-bar {
        font-size: 7px;
    }
    #side-bar img {
        width: 4vw;
        height: auto;
    }
    #top-bar {
        padding: 0.5vh;
    }
}
@media screen and (max-width: 900px) {
    #side-bar {
        font-size: 7px;
    }
    #side-bar img {
        width: 3vw;
        height: auto;
    }
    #top-bar {
        padding: 0.5vh;
    }
    #content {
        margin-top: 6vh;
        z-index: 0;
    }
}