
.marker-qh {
    background-color: var(--primary-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    outline: solid 4px var(--primary-color-subtle);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 1.0rem;
}
.modal-backdrop.fade.show{
    z-index: 0;
}

.marker-cqh {
    background-color: var(--chuaqh-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    outline: solid 4px var(--chuaqh-color-subtle);
}
