.marker {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marker svg {
    width: 22px;
    height: 22px;
}


.marker-qh {
    background-color: var(--primary-color);
    border: solid 4px var(--primary-color-subtle);

    color: var(--white-color);
    font-size: 0.8rem;
}

.marker-cqh {
    background-color: var(--chuaqh-color);
    border: solid 4px var(--chuaqh-color-subtle);
}


.marker-tgsp {
    background-color: var(--tgsp-color);
}
.marker-dknd {
    background-color: var(--dknd-color);
}
.marker-dgyk {
    background-color: var(--dgyk-color);
}
.marker-gdtm {
    background-color: var(--gdtm-color);
}

