.marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marker svg {
    width: 22px;
    height: 22px;
}



.search-marker img,
.random-marker img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}