.report-form-modal-container,
.detail-report-modal-container,
.detail-ad-modal-container {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.report-form-modal,
.detail-report-modal,
.detail-ad-modal {
    background-color: #fefefe;

    padding: 20px 20px 8px;
    min-width: 700px;
    width: fit-content;
    max-width: 840px;
    max-height: 90%;
    border-radius: 12px;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    animation: movein-from-top 0.6s ease-out ;
}

.report-form-modal::-webkit-scrollbar,
.detail-report-modal::-webkit-scrollbar,
.detail-ad-modal::-webkit-scrollbar {
    display: none;
}




/* ------ Title ------ */
.detail-ad-modal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.detail-ad-modal__title h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--title-color);
}

.detail-ad-modal__title button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
}



/* ------ Address ------ */
.detail-report-modal__address,
.detail-ad-modal__address {
    color: var(--primary-color);
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 10px;
}

.detail-report-modal__address {
    border: none;
    margin-bottom: 4px;
}

.detail-report-modal__address h1,
.detail-ad-modal__address h1 {
    font-size: 18px;
    font-weight: 600;
}



/* ------ Name ------ */
.detail-ad-modal__name h2 {
    color: var(--title-color);
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
}



/* ------ Info ------ */
.detail-ad-modal__info {
    padding-bottom: 12px;
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 14px;
}

.detail-report-modal__info {
    border: none;
    margin-bottom: 0px;
}

.detail-report-modal__info-row,
.detail-ad-modal__info-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.detail-report-modal__info-col,
.detail-ad-modal__info-col {}

.detail-report-modal__info h2,
.detail-ad-modal__info h2 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.detail-report-modal__info p,
.detail-ad-modal__info p {
    color: var(--text-color);
    font-size: 15px;
}

.detail-report-modal__info span,
.detail-ad-modal__info span {
    color: var(--primary-color);
    font-size: 14px;
}


/* ------ Thumbnail ------ */
.detail-ad-modal__thumbnail-title h2 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.detail-ad-modal__thumbnail {
    width: 60%;
    max-width: 500px;
    aspect-ratio: 5 / 3;
    margin: 0 auto 24px;
}

.detail-ad-modal__thumbnail .carousel,
.detail-ad-modal__thumbnail .carousel-inner,
.detail-ad-modal__thumbnail .carousel-item {
    width: 100%;
    height: 100%;
}

.detail-ad-modal__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width : 700px) {

    .report-form-modal,
    .detail-report-modal,
    .detail-ad-modal {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        border-radius: 0px;
    }

    .detail-report-modal__info-row,
    .detail-ad-modal__info-row {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .detail-report-modal__info h2,
    .detail-ad-modal__info h2 {
        color: var(--text-color);
        font-size: 18px;
    }

    .detail-report-modal__info p,
    .detail-ad-modal__info p {
        color: var(--text-color);
        font-size: 17px;
    }

    .detail-report-modal__info span,
    .detail-ad-modal__info span {
        color: var(--primary-color);
        font-size: 17px;
    }

    .detail-ad-modal__info-contract {
        margin-bottom: 12px;
    }

    .detail-ad-modal__thumbnail {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 5 / 3;
        margin: 0;
    }

}



/* ========================================================= */
/* ================== DETAIL REPORT MODAL ================== */
/* ========================================================= */

/* ------ Title ------ */
.detail-report-modal__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 12px;
}

.detail-report-modal__title h1 {
    color: var(--title-color);
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 0;
}

.detail-report-modal__title button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
}


/* ------ Content ------ */
.detail-report-modal__content {}

.detail-report-modal__content h2 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.detail-report-modal__content p {
    color: var(--text-color);
    font-size: 15px;
}


/* ------ Thumbnail ------ */
.detail-report-modal__thumbnail {
    width: 60%;
    max-width: 500px;
    aspect-ratio: 5 / 3;
    margin: 16px auto 14px;
}

.detail-report-modal__thumbnail .carousel,
.detail-report-modal__thumbnail .carousel-inner,
.detail-report-modal__thumbnail .carousel-item {
    width: 100%;
    height: 100%;
}

.detail-report-modal__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* ========================================================= */
/* ================== DETAIL REPORT MODAL ================== */
/* ========================================================= */

/* ------ Title ------ */
.report-form-modal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 12px;
}

.report-form-modal__title h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--title-color);
}

.report-form-modal__title button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
}


/* ------ Form ------ */
.report-form-modal__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.report-form-modal__col {
    display: flex;
    flex-direction: column;
}

.report-form-modal__form label {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.report-form-modal__form input {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
    width: 100%;
    margin-bottom: 16px;
}

.report-form-modal__form textarea {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 12px;
    resize: none;
    height: 80px;
    width: 100%;
}

.report-form-modal__form select {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    color: var(--text-color);
    width: 100%;
    margin-bottom: 16px;
}

.report-form-modal__form input:focus,
.report-form-modal__form textarea:focus,
.report-form-modal__form select:focus {
    outline: solid 2px var(--primary-color);
}

/* @ =========================================== */
.report-form-modal__file-list {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px 0px 4px;
}

.report-form-modal__file-list label {
    width: 100%;
}

.report-form-modal__file-list img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.report-form-modal__file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    padding: 10px 12px;
    color: var(--text-color);
    max-width: 80%;
    margin: 0 auto 12px;
}

.report-form-modal__file-item div {
    flex: 1;
    margin-left: 8px;
}

.report-form-modal__file-item p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.report-form-modal__file-item span {
    font-size: 14px;
    color: var(--subtitle-color);
}


.report-form-modal__files-area {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.report-form-modal__files-area label {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.report-form-modal__files-area label svg {
    margin-right: 4px;
}

.report-form-modal__files-area label:hover {
    background-color: var(--primary-color);
    color: white;
}

.report-form-modal__files-area button,
.report-form-modal__files-area input {
    display: none;
}







.report-form-modal__submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-bottom: 12px;
}


@media only screen and (max-width : 700px) {

    .detail-report-modal__thumbnail {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 5 / 3;
        margin: 12px auto 12px;
    }


    .report-form-modal__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
}

.tox-editor-header .tox-menubar {
    display: none !important;
}

.tox-statusbar {
    display: none !important;
}