.status-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 40px;
    margin: 4px 0px 14px;
}
.status-tag h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-left: 4px;
}

.status-tag-dangxuly {
    background-color: var(--dangxuly-color-subtle);
    color: var(--dangxuly-color);
}
.status-tag-daxuly {
    background-color: var(--daxuly-color-subtle);
    color: var(--daxuly-color);
}
.status-tag-tuchoi {
    background-color: var(--tuchoi-color-subtle);
    color: var(--tuchoi-color);
}

.extra-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 4px;
}